name: Frontend CI/CD → ECR → Update Manifests

on:
  push:
    branches:
      - main
    paths:
      - "**"
      - "!README.md"

env:
  AWS_REGION: us-east-1
  AWS_ACCOUNT_ID: 262251629687
  APP_NAME: frontend
  MANIFESTS_REPO: sankarsv7/manifests
  MANIFESTS_PATH: apps/frontend

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push FE image
      run: |
        IMAGE="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${APP_NAME}:${GITHUB_SHA::7}"
        echo "IMAGE=$IMAGE" >> $GITHUB_ENV

        docker build -t $IMAGE .
        docker push $IMAGE

    - name: Checkout manifests repo
      uses: actions/checkout@v3
      with:
        repository: ${{ env.MANIFESTS_REPO }}
        token: ${{ secrets.GITHUB_TOKEN }}
        path: manifests

    - name: Update frontend image in manifests repo
      run: |
        cd manifests/${MANIFESTS_PATH}

        echo "Updating image tag to: $IMAGE"

        sed -i "s|image: .*|image: ${IMAGE}|g" deployment.yaml

        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add deployment.yaml
        git commit -m "ci: update frontend image -> ${IMAGE}" || echo "nothing to commit"
        git push

    - name: Force ArgoCD sync (optional)
      run: |
        echo "ArgoCD will automatically sync if auto-sync is enabled."
